@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,body{
    /* background: #F8FAFF; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: white;
    /* --bs-navbar-padding-y: 0 !important; */
}

.navbar-toggler{
    border: none;
    font-weight: bold;
}

.navbar-toggler:focus-visible{
    border: none;
}

.btn{
    transition: transform 0.4s;
}

.btn:hover{
    transform: scale(1.05);
}

hr{
    color: #53535359;
}


/* Navigation bar */

.nav-link{
    font-size: 15px;
    font-weight: bold;
}

h4{
    font-weight: bold;
    color: #1D2433;
}

h4 span{
    color: #407BFF;
}

.navbar-collapse{
    flex-grow: 0 !important;
    justify-content: space-between;
}

.btn{
    font-size: 14px;
    border-radius: 6px;
}

/* Home section */

.highlight{
    background-color: #fcff35be;
    color: #1d2433e0;
}

.heading{
    font-weight: bold;
    color: #1D2433;
}

.headImage{
    max-width: 450px;
}

p{
    font-size: 14px;
    color: #959899bb;
    font-weight: bold;
}

small{
    font-size:14px;
    font-weight: 900;
    margin-left: 10px;
}

.bi-patch-check-fill{
    font-size: 14px;
    color: #407BFF;
}

/* invoice-container */

.invoice-form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.invoice-form{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 90%;
    border-radius: 5px;
    border: 1px solid #7e7a7a;
    -webkit-box-shadow: 0px 0px 99px -53px rgba(101,119,235,1);
    -moz-box-shadow: 0px 0px 99px -53px rgba(101,119,235,1);
    box-shadow: 0px 0px 99px -53px rgba(101,119,235,1);
}


@media only screen and (max-width: 768px) {
    .invoice-form {
      max-width: 100%;
    }
}


.form-container{
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

/* invoice-form */

.invoice-title-container{
    padding-top: 50px;
}

.invoice-title{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #7e7a7a50;
}

.invoice-logo-container{
    text-align: end;
    max-width: 100%;
    max-height: 50%;
    padding: 10px;
    
}

.invoice-logo{
    padding: 40px;
    width: 250px;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #7e7a7a63;
    border-radius: 10px;
}

.invoice-logo img{
    max-width: 240px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.invoice-details{
    text-align: start;
}



.home-section{
    /* padding-top: 30px; */
    padding-bottom: 10px;
}

.column-1{
    padding-top: 50px;
}

@media only screen and (max-width: 768px) {
    .column-1{
        padding-top: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .column-1{
        padding-top: 0;
    }

}


.invoice-info-container{
    padding-top: 40px;
}

.invoice-info{
    /* max-width: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.invoice-info-det{
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #7e7a7a54;
}

.invoice-info-det-btn, .custom-field{
    color: #407BFF;
    cursor: pointer;
    font-weight: 600;
    transition: ease;
    font-size: 14px;
}


.invoice-info-det-btn:hover{
    color: #003fc7e8;
}

.custom-field:hover{
    color: #003fc7e8;
    background-color: #66697011;
}

.invoice-info-det-btn i{
    font-weight: bold;
    font-size: 14px;
}

*:focus {
    outline: none;
    border-bottom: 1px solid #7e7a7a54;
}

input{
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #7e7a7a54;
}

input:hover{
    border-bottom: 1px solid #407BFF;
}

.form-select{
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.from-details, .to-details{
    border: 1px solid #ccc;
    border-radius: 5px;
}

.from, .to{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .from, .to {
      max-width: 100%;
    }

    .row>*{
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .from, .to {
      max-width: 100%;
    }

}

h3{
    background-color: transparent;
    font-size: 20px;
}

.from-details input, .to-details input, .table-body input{
    color: #1D2433;
    font-weight: 600;
    font-size: 14px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
}

.from-details input::placeholder, .to-details input::placeholder, .table-body input::placeholder{
    color: #7e7a7a8c;
    font-weight: 500;
}

.city, .buttons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.buttons{
    justify-content: space-between;
    padding-top: 20px;
}

.custom-field{
    max-width: 100%;
    border: 1px dashed #7e7a7a63;
    border-radius: 5px;
    margin: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bi-percent, .bi-layout-three-columns{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}

.button{
    font-size: 20px;
}

.column-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.gst{
    display: flex;
    align-items: flex-start;
    margin: 0 auto;    
    font-weight: bold;
    padding-top: 10px;
}

.button-column, .button-tax{
    padding: 5px;
    background-color: #407BFF;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.radio{
    font-size: 14px;
}

input[type = "radio"]{
    width: 14px;
    height: 14px;
    vertical-align: middle
}

/* Table */


.table-dark{
    --bs-table-bg: #407BFF;
    --bs-table-border-color: none;
}


.table-container{
    width: 100%;
}

.delete-icon{
    color: rgb(255, 72, 72);
    cursor: pointer;
}



td input{
    display: flex;
    justify-content: start;
    margin-top: 8px;
    width: 100px;
}


th{
    font-size: 14px;
    font-weight: 400;
}


.table-headers{
    height: 50px;
    /* width: 965px; */
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #407BFF;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.table-body{
    /* width: 965px; */
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #cadbffa2;
}

@media only screen and (max-width: 768px) {
    .table-headers, .table-body{
        width: 965px;
        height: 45px;
    }
}

@media only screen and (max-width: 1024px) {
    .table-headers, .table-body{
        width: 965px;
        height: 45px;
    }    

}

.items{
    width: 35%;
}

.close{
    color: rgba(255, 0, 0, 0.575);
    font-weight: bold;
    cursor: pointer;
}

.quantity,.rate,.amount{
    width: 15%;
}

.table-body input{
    width: 100%;
    background-color: transparent;
    margin-bottom: 5px;
}

/* total and invoice notes container */

.invoice-notes-container{
    max-width: 100%;
    width: 60%;
}

.total-amount-container{
    max-width: 100%;
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .invoice-notes-container{
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    .total-amount-container{
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1024px) {
    .invoice-notes-container{
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    .total-amount-container{
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

.custom-field-container{
    max-width: 50%;
    border: 1px dashed #7e7a7a63;
    border-radius: 5px;
    /* margin-left: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    color: #407BFF;
    cursor: pointer;
    font-weight: 600;
    transition: ease;
    font-size: 13px;
}

.custom-field-container:hover{
    color: #003fc7e8;
    background-color: #66697011;
}

.total-container,.sub-total-container,.discount-container,.total-tax-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-total-container h3, .sub-total-container span,.total-tax-container h3,.total-tax-container span, .discount-container h3,.discount-container span{
    align-items: center;
    font-size: 16px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.h5, h5{
    font-size: 15px !important;
}

p{
    font-size: 14px;
}

.bank-details{
    max-width: 80%;
}

.bank-info-det{
    font-size: 14px;
    font-weight: bold;
}

.invoice-notes-container h3{
    font-size: 17px;
    font-weight: bold;
    color: #407BFF;
}

@media only screen and (max-width: 768px) {
    .total-invoice-con .row{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 1024px) {
    .total-invoice-con .row{
        flex-direction: column-reverse;
    }

}

/* save and continue button */
.save-and-continue-con{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* ready-section */

.ready-section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.text,.heading1,.pt-1{
    color: #fff;
    background-color: #1D2433;

}

.text{
    max-width: 100%;
    padding: 40px
}

/* footer-section */
.bi-github{
    font-size: 25px;
    color: #1D2433;
    margin-bottom: 30px;
    background-color: transparent;
}

h3{
    font-weight: 1000;
    color: #1D2433;
    background-color: transparent;
    margin-bottom: 0;
}

h3 span{
    color: #407BFF;
}


@media only screen and (max-width: 768px) {
    .custom-field-container{
        max-width: 100%;
    }

    textarea{
        width: 100%;
        height: 100px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 1024px) {
    .custom-field-container{
        max-width: 100%;
    }

    textarea{
        width: 100%;
        height: 100px;
        font-size: 12px;
    }

}

.discount-amount-edit{
    width: 80px;
    font-size: 16px;
    text-align: end;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#amount{
    background-color: #7e7a7a1a;
}

textarea{
    width: 85%;
    height: 100px;
    font-size: 12px;
}

@media only screen and (max-width: 320px) {
    .logo-img{
        width: 150px;
        height: 30px;
    }
}

.modal-backdrop{
    position: unset !important;
}

.user-pic{
    display: flex;
    align-items: center;
}
.bi-person-circle{
    font-size: 30px;
    cursor: pointer;
    color: #48BCFF;
}
.bi-chevron-down{
    font-size: 15px;
    cursor: pointer;
    color: #48BCFF;
}

.submenu-wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.submenu-wrap.open-menu{
    max-height: 300px;
}

.sub-menu{
    border: 1px solid rgba(156, 156, 156, 0.342);
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h6{
    font-weight: 500;
    margin-bottom: 0;
}

.user-info i{
    font-size: 35px;
    margin-right: 15px;
}

.sub-menu hr{
    height: 1px;
    width: 100%;
    background: #000;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    color: #000;
    font-weight: 100;
    margin-bottom: 0;
}

.sub-menu-link span{
    font-size: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform:  translate(2px);
}

.sub-menu-link:hover p{
    font-weight: bold;
    color: #3269ff;
}

@media only screen and (max-width: 768px) {
    .submenu-wrap{
        right: unset;
    }
}

.input-control.success input{
    border-color: #407BFF;
}

.input-control.error input{
    border-color: #ff3860;
}

.input-control .error{
    color: #ff3860;
    font-size: 10px;
}

/* *************************************************************** */
.success_toast{
    background-color: #D1E7DD;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
}


.success_toast .progress{
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #D1E7DD;
}

.progress.active:before{
    animation: progress 7s linear forwards
}

@keyframes progress{
    100%{
        width: 0;
    }
}

.success_toast .progress:before{
    content: '';
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #157347;
}

.error_toast{
    background-color: #F8D7DA;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
}

.error_toast .progress{
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #F8D7DA;
}

.error_toast .progress:before{
    content: '';
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #BB2D3B;
}

#toast_con{
    display: flex;
    align-items: center;
    justify-content: center;
}