
/* **********************************Basic template formatting********************************** */
.invoice-print-form{
    max-width: 80%;
    max-height: 100%;
    width: 80%;
    height: 100%;
    border-radius: 1px;
    box-shadow: 0px 0px 99px -53px rgba(101,119,235,1);
    position: inherit;
}

h1, h2, h3, h4, h5, h6, p, small, div{
    background-color: transparent;
}

/* .navbar{
    --bs-navbar-padding-y: 0 !important;
} */

/* **********************************Basic template formatting********************************** */

#Invoice-title{
    font-size: 30px;
    color: #332C23;
}

small {
    font-size: 13px;
    font-weight: 200;
    margin-left: 0;
    color: #332C23;
    line-height: unset;
}

p{
    color: #332C23;
    font-size: 12;
    margin-bottom: 0;
    font-weight: 500;
}

.invoice-logo-img img{
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}


.invoice-details, .more-details-inside-container{
    display: flex;
    align-items: center;
}

.invoice-details p, .more-details-inside-container p{
    margin-right: 10px;
    font-weight: 600;
}

.logo-from-to-more-details{
    background-color: #F9DC5C;
    padding-top: 20px;
    padding-bottom: 50px;
}

#invoice-details-text{
    font-weight: bold;
}

#from-text, #to-text{
    font-size: 14px;
}

#from-name, #to-name{
    font-size: 18px;
    font-weight: 700;
}

.logo-from-to-more-details small, .logo-from-to-more-details h6,.logo-from-to-more-details h3,.logo-from-to-more-details strong,.logo-from-to-more-details p{
    color: #332C23;
}

.invoice-info-table-container{
    margin-left: 30px;
    margin-right: 30px;
}

/* **********************table container************************/
.table>:not(caption)>*>*{
    border-bottom: none;
    /* background-color: #E5F993; */
}

.table-dark{
    --bs-table-bg: #E5F993;
    --bs-table-color: #332C23;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-accent-bg : #F3F8FF;
}

.table{
    border: 1px solid #F9DC5C;
    /* border-radius: 10px; */
    color: #332C23;
}

th{
    font-weight: 600;
}

.invoice-info-table-container{
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -38px;
}

.notes-container-border{
    border: 1px solid #F9DC5C;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -17px;
    border-bottom: none;
    /* margin-bottom: 200px; */
}

.terms-con-border{
    border: 1px solid #F9DC5C;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-top: -17px; */
    border-top: none;
    margin-bottom: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inline-box-for-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #332C23;
}

.inline-box-for-info small{
    font-size: 16px;
    font-weight: 500;
    color: #332C23;
}

.inline-box-for-info p{
    font-size: 16px;
    font-weight: 600;
    color: #332C23;
}


.title{
    font-size: 13px;
    font-weight: 600;
    color: #332C23;
}

hr{
    color: #332C23;
}

#number-to-word{
    font-weight: 600;
    color: #332C23;
}

#total-due{
    background-color: #E5F993;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.inline-box-for-info .title{
    font-size: 13px;
    font-weight: 600;
    color: #332C23;
}

.bank-details small, .bank-details p{
    font-size: 13px;
    color: #332C23;
}

.bank-details{
    max-width: 100%;
}

.row>*{
    padding-right: 0 !important;
}

.invoice p{
    font-size: 14px;
}

.invoice small{
    font-size: 13px;
}

#check{
    color: #407BFF;
}

#from-add p, #to-add p{
    font-size: 13px;
    font-weight: 600;
}

#from-add small, #to-add small{
    font-size: 12px;
    font-weight: 500;
}

.modal-backdrop{
    position: unset !important;
}


.user-pic{
    display: flex;
    align-items: center;
}
.bi-person-circle{
    font-size: 30px;
    cursor: pointer;
    color: #48BCFF;
}
.bi-chevron-down{
    font-size: 15px;
    cursor: pointer;
    color: #48BCFF;
}

.submenu-wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.submenu-wrap.open-menu{
    max-height: 300px;
}

.sub-menu{
    border: 1px solid rgba(156, 156, 156, 0.342);
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h6{
    font-weight: 500;
    margin-bottom: 0;
}

.user-info i{
    font-size: 35px;
    margin-right: 15px;
}

.sub-menu hr{
    height: 1px;
    width: 100%;
    background: #000;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    color: #000;
    font-weight: 100;
    margin-bottom: 0;
}

.sub-menu-link span{
    font-size: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform:  translate(2px);
}

.sub-menu-link:hover p{
    font-weight: bold;
    color: #3269ff;
}

@media only screen and (max-width: 768px) {
    .submenu-wrap{
        right: unset;
    }
}

/* *************************************************************** */
.success_toast{
    background-color: #D1E7DD;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
}


.success_toast .progress{
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #D1E7DD;
}

.progress.active:before{
    animation: progress 7s linear forwards
}

@keyframes progress{
    100%{
        width: 0;
    }
}

.success_toast .progress:before{
    content: '';
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #157347;
}

.error_toast{
    background-color: #F8D7DA;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
}

.error_toast .progress{
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #F8D7DA;
}

.error_toast .progress:before{
    content: '';
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #BB2D3B;
}

#toast_con{
    display: flex;
    align-items: center;
    justify-content: center;
}