/* **********************************Basic template formatting********************************** */
.invoice-print-form{
    max-width: 80%;
    max-height: 100%;
    width: 80%;
    height: 100%;
    border-radius: 1px;
    box-shadow: 0px 0px 99px -53px rgba(101,119,235,1);
    position: inherit;
}

h1, h2, h3, h4, h5, h6, p, small, div{
    background-color: transparent;
}

/* .navbar{
    --bs-navbar-padding-y: 0 !important;
} */

/* **********************************Basic template formatting********************************** */
#Invoice-title{
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #4F3824;
    margin-left: 20px;
}

p{
    margin-bottom: 0;
    color: #4F3824;
}

small{
    margin-left: 0;
    color: #4F3824;
    font-weight: 200;
}

.invoice-logo-img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.invoice-logo-img img{
    max-width: 100%;
    max-height: 80px;
    object-fit: contain;
    margin: 10px;
    margin-right: 20px;
}

.more-details-inside-container{
    display: flex;
}

.more-details-inside-container p{
    margin-right: 10px;
    color: #4F3824;
}

.invoice-details-bkg{
    background-color: #20a39f44;
    padding: 15px;
    border-radius: 8px;
    /* padding-left: 0; */
}

#more-details-con{
    margin-top: 10px;
}


.from-col, .to-col{
    /* border: 1px dashed #7e7e7e; */
    background-color: #20a39f44;
    padding: 10px;
    border-radius: 8px;
    color: #4F3824;
}

#from-text, #to-text{
    font-size: 14px;
}

#from-add p, #to-add p{
    color: #4F3824;
}

h6 strong{
    font-size: 17px;
}

small{
    margin: 0;
    font-weight: 400;
}

p{
    margin-bottom: 0 !important;
}


/* **********************table container************************/
.table>:not(caption)>*>*{
    border-bottom: none;
    /* background-color: #E5F993; */
}

.table-dark{
    --bs-table-bg: #20a39f44;
    --bs-table-color: #4F3824;
}


.table{
    border: 1px solid #7e7e7e46;
    border-radius: 10px;
    color: #4F3824;
    border-bottom: none;
    /* --bs-table-bg: #20a39f13; */
}

th{
    font-weight: 600;
}

.invoice-info-table-container{
    border-radius: 8px;
    margin-left: 27px;
    margin-right: 27px;
}
/* **********************table container************************/

.notes-container-border{
    border: 1px solid #7e7e7e46;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: -17px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}


.inline-box-for-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4F3824;
}

.inline-box-for-info small{
    font-size: 16px;
    font-weight: 500;
    color: #4F3824;
}

.inline-box-for-info p{
    font-size: 16px;
    font-weight: 600;
    color: #4F3824;
}

.title{
    font-size: 13px;
    font-weight: 600;
    color: #4F3824;
}

hr{
    color: #4F3824;
    margin: 0;
}

#number-to-word{
    font-weight: 600;
    color: #4F3824;
}

#total-due{
    margin-top: 10px;
    background-color: #20a39f44;
    /* border: 1px dashed #7e7e7e; */
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.inline-box-for-info .title{
    font-size: 13px;
    font-weight: 600;
    color: #4F3824;
}

.bank-details small, .bank-details p, #terms-conditions-con small, .notes{
    font-size: 13px;
    color: #4F3824;
}

.bank-details{
    max-width: 100%;
}

.total-in-words{
    background-color: #20a39f44;
    /* border: 1px dashed #7e7e7e; */
    padding: 10px;
    margin-right: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#bank-details-con{
    background-color: #20a39f44;
    /* border: 1px dashed #7e7e7e; */
    padding: 10px;
    padding-top: 0;
    /* margin-right: 15px; */
    border-radius: 8px;
}


.invoice p{
    font-size: 14px;
    color: #4F3824;
}

.invoice small{
    font-size: 13px;
    color: #4F3824;
}


#check{
    color: #407BFF;
}

.modal-backdrop{
    position: unset !important;
}

.user-pic{
    display: flex;
    align-items: center;
}
.bi-person-circle{
    font-size: 30px;
    cursor: pointer;
    color: #48BCFF;
}
.bi-chevron-down{
    font-size: 15px;
    cursor: pointer;
    color: #48BCFF;
}

.submenu-wrap{
    position: absolute;
    top: 100%;
    right: 3%;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.submenu-wrap.open-menu{
    max-height: 300px;
}

.sub-menu{
    border: 1px solid rgba(156, 156, 156, 0.342);
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h6{
    font-weight: 500;
    margin-bottom: 0;
}

.user-info i{
    font-size: 35px;
    margin-right: 15px;
}

.sub-menu hr{
    height: 1px;
    width: 100%;
    background: #000;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    color: #000;
    font-weight: 100;
    margin-bottom: 0;
}

.sub-menu-link span{
    font-size: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform:  translate(2px);
}

.sub-menu-link:hover p{
    font-weight: bold;
    color: #3269ff;
}

@media only screen and (max-width: 768px) {
    .submenu-wrap{
        right: unset;
    }
}

/* *************************************************************** */
.success_toast{
    background-color: #D1E7DD;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
}


.success_toast .progress{
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #D1E7DD;
}

.progress.active:before{
    animation: progress 7s linear forwards
}

@keyframes progress{
    100%{
        width: 0;
    }
}

.success_toast .progress:before{
    content: '';
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #157347;
}

.error_toast{
    background-color: #F8D7DA;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
}

.error_toast .progress{
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #F8D7DA;
}

.error_toast .progress:before{
    content: '';
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #BB2D3B;
}

#toast_con{
    display: flex;
    align-items: center;
    justify-content: center;
}